
* {		
    margin: 0;
    font-family: 'Lato', sans-serif;
}

body {

    display: flex;
    
}

#corps{
    display: flex;
    flex-direction: column;
    margin-left: 40px;
}

#aside-bar {


    background-color: #004D40;
    width: 60%;
    height: auto;

}

#aside-bar img {
    width: 250px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    
}



.aside-title {
    text-align: center;
    letter-spacing: 1px;
    background-color: #1DE9B6;
    color: #004D40;
    font-size: 1.5em;

}

.txt_aside{
    padding: 40px 40px 40px 40px;
    color : #1DE9B6;
}
.txt_aside_propos{
    padding: 40px 40px 500px 40px;
    text-align: justify;
    color: #1DE9B6;
}

.logo-loisirs {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    color: #64FFDA;
    padding-bottom: 40px;
}

.fa-graduation-cap, .fa-suitcase, .fa-pencil-alt {
    color: #004D40;
    padding-right: 20px;
}

.fa-circle{
    color: #004D40;
    padding: 10px;
}

.sous_titre{
    padding-bottom: 50px;
}

h2 {
    margin-top: 50px;
    font-size: 3em;
}

h2 span {

    color: #004D40;
}

h5{
    padding-top: 5px;
    padding-bottom: 5px;
}


.border {
    border-bottom: 2px solid #004D40;
}

.titre{
    padding-bottom: 10px;
    border-bottom: 2px solid #004D40;
    width: 95%;
    margin-top: 40px;
}

.ville{
    margin-left: 40px;;
}


 .td1 {
    width: 27%;
    
    
}
.td2, .td3, .td_txt{
    padding-top: 60px;
}


.td_logo{
    width: 27%;
}


.pg-reco{
    display: flex;
    color: black;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 40px;

}
.esp{
    padding-left: 300px;
}














@media screen and (max-width: 425px) {

    body {
        display: flex;
        flex-direction: column-reverse;
        
        
    }
    
    h2{
        font-size: 2em;
    }

    

    #aside-bar {
        width: auto;
	}

    .txt_aside_propos{
        padding-bottom: 150px;
    }

    .logo-loisirs{
        padding-bottom: 40px;
    }
	

	tr{
        display: flex;
        flex-direction: column;

    }
    .td1, .td_logo{
        width: 100%;
        padding-top: 40px;
    }

    .td_txt, .td2, .td3{
        padding-left: 40px;
        width: 70%;
        text-align: justify;
    }
   
    .pg-reco{
        display: flex;
        flex-direction: column;
        margin-left: 40px;
        
    }

    .esp{
        padding-top: 40px;
        padding-left: 0;
    }
    

    

	

}
@media screen and (max-width: 1024px) {

    body {
        display: flex;
        flex-direction: column-reverse;
        
        
    }
    
    h2{
        font-size: 2em;
    }

    

    #aside-bar {
        width: auto;
	}

    .txt_aside_propos{
        padding-bottom: 150px;
    }

    .logo-loisirs{
        padding-bottom: 40px;
    }
	

	tr{
        display: flex;
        flex-direction: column;

    }
    .td1, .td_logo{
        width: 100%;
        padding-top: 40px;
    }

    .td_txt, .td2, .td3{
        padding-left: 40px;
        width: 70%;
        text-align: justify;
    }
   
    
    

    

	

}


