
* {		
    margin: 0;
    font-family: 'Lato', sans-serif;
}

body {

    display: flex;
    
}

#corps{
    display: flex;
    flex-direction: column;
    margin-left: 40px;
}

#aside-bar {


    background-color: #004D40;
    width: 60%;
    height: auto;

}

#aside-bar img {
    width: 250px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    
}



.aside-title {
    text-align: center;
    letter-spacing: 1px;
    background-color: #1DE9B6;
    color: #004D40;

}

.txt_aside{
    padding: 40px 40px 40px 40px;
    color : #1DE9B6;
}
.txt_aside_propos{
    padding: 40px 40px 500px 40px;
    text-align: justify;
    color: #1DE9B6;
}

.logo-loisirs {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    color: #64FFDA;
}

.fa-graduation-cap, .fa-suitcase, .fa-pencil-alt {
    color: #004D40;
    padding-right: 20px;
}

.fa-circle{
    color: #004D40;
    padding: 10px;
}

.sous_titre{
    padding-bottom: 50px;
}

h2 {
    margin-top: 50px;
    font-size: 3em;
}

h2 span {

    color: #004D40;
}

h5{
    padding-top: 5px;
    padding-bottom: 5px;
}


.border {
    border-bottom: 2px solid #004D40;
}

.titre{
    border-bottom: 2px solid #004D40;
    width: 95%;
    margin-top: 40px;
}

.ville{
    margin-left: 40px;;
}


 .td1 {
    width: 27%;
    
    
}
.td2, .td3, .td_txt{
    padding-top: 60px;
}


.td_logo{
    width: 27%;
}

.recommandation{
    display: flex;
}
.recommandation p{
    color: black;
    margin-top: 40px;

}
.esp{
    margin-left:190px;
}













@media screen and (max-width: 900px) {

    body {
        display: flex;
        flex-direction: column-reverse;
	}

    #aside-bar {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
	}

    #aside-bar img {
        margin: 0 auto 0 auto;
    }

	.aside-title {
        width: 100%;
    }

	p {
        text-align: center;
    }

    #corps h2 {
        margin-left: 30px;
        text-align: center;
    }

    .sous-titre {
        margin-left: 50px;
        text-align: center;
    }

	td {
        width: 30%;
        padding-right: 60px;

    }

}


@media all and (orientation : portrait){
    
    body {
        display: flex;
        flex-direction: column-reverse;
    }

    #aside-bar {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
    }

    #aside-bar img {
        margin: 0 auto 0 auto;
    }

    .aside-title {
        width: 100%;
    }

    p {
        text-align: center;
    }

    #corps h2 {
        margin-left: 30px;
        text-align: center;
    }

    .sous-titre {
        margin-left: 50px;
        text-align: center;
    }

    td {
        width: 30%;
        padding-right: 60px;

    }
}